---
import Layout from '../layouts/Layout.astro';
import styles from '../styles/poke-list.module.css';

const res = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
const resJson = await res.json();
const pokemons = resJson.results.map(pokemon => {
    const name = pokemon.name;
    // https://pokeapi.co/api/v2/pokemon/1/
    const url = pokemon.url;
    const id = url.split("/")[url.split("/").length - 2];
    return {
        name,
        url,
        id
    }
});
---
<Layout title="Pokedex: Generation 1">
		<ul class={`plain-list ${styles.pokeList}`}>
			{pokemons.map((pokemon) => (
					<li class={styles.pokemonListItem} key={pokemon.name}>
							<a class={styles.pokemonContainer} href={`/pokemon/${pokemon.name}`}>
									<p class={styles.pokemonId}>No. {pokemon.id}</p>
									<img class={styles.pokemonImage} src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${pokemon.id}.png`} alt={`${pokemon.name} picture`}></img>
									<h2 class={styles.pokemonName}>{pokemon.name}</h2>
							</Link>
					</li>
			))}
		</ul>
</Layout>